In [2]:
import pyranges as pr
import pandas as pd

In [9]:
df = pd.DataFrame()

chroms = [1,1,1]
starts = [1,5,10]
ends = [3, 8, 15]
strands = ['+' for i in range(len(ends))]

df['Chromosome'] = chroms
df['Start'] = starts
df['End'] = ends
df['Strand'] = strands

df = pd.read_csv('my_file.csv')

df['Feature'] = 'exon'
df['transcript_id'] = 'transcript_1'
df['gene_id'] = 'Clu'

df = pr.PyRanges(df)

In [10]:
df

+--------------+-----------+-----------+--------------+------------+-----------------+
|   Chromosome |     Start |       End | Strand       | Feature    | transcript_id   |
|   (category) |   (int32) |   (int32) | (category)   | (object)   | (object)        |
|--------------+-----------+-----------+--------------+------------+-----------------|
|            1 |         1 |         3 | +            | exon       | transcript_1    |
|            1 |         5 |         8 | +            | exon       | transcript_1    |
|            1 |        10 |        15 | +            | exon       | transcript_1    |
+--------------+-----------+-----------+--------------+------------+-----------------+
Stranded PyRanges object has 3 rows and 6 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.

In [11]:
df.to_gtf('my_test_gtf.gtf')

In [14]:
df = pd.read_csv('/Users/fairliereese/Downloads/Clu-h2kbKI-1A.txt', sep='\t', header=None, names=)
# df = df.loc[df.Feature == 'exon']

# df['transcript_id'] = 'transcript_1'
# df['gene_id'] = 'Clu'

In [15]:
df.head()

,0,1,2,3,4,5,6,7,8
0,Clu-h2kBKI,.,igr,1,1468,.,+,.,ID=intergenic_region
1,Clu-h2kbKI,.,exon,1469,1674,.,+,.,ID=exon1A
2,Clu-h2kbKI,.,intron,1675,4717 .,+,.,ID=intron1A,NaN
3,Clu-h2kbKI,.,exon 4718,4838,.,+,.,ID=exon2,NaN
4,Clu-h2kbKI,.,intron,4839,6310,.,+,.,ID=intron2